# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
**/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.pub-cache/
frontend/.pub/
/frontend/build/

# Symbolication related
frontend/app.*.symbols

# Obfuscation related
frontend/app.*.map.json

# Android Studio will place build artifacts here
frontend/android/app/debug
frontend/android/app/profile
frontend/android/app/release
frontend/android/app/google-services.json
frontend/firebase.json
frontend/lib/firebase_options.dart


backend/.flutter-plugins
backend/.flutter-plugins-dependencies

#firebase info
**/firebase_conf.json
backend/services/update_service/firebase_conf.json
